---
// @ts-nocheck
export async function getStaticPaths() {
  const data = await fetch(
    "https://qrmsxsqepinalqgbykma.supabase.co/rest/v1/artists?",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFybXN4c3FlcGluYWxxZ2J5a21hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzkwMzIsImV4cCI6MjA0NDIxNTAzMn0.-c24Labp4ehDyWSghIjoa_klzOKVqUva3hzdr5e8BUQ",
      },
    }
  ).then((reponse) => reponse.json());

  return data.map((artist) => {
    return {
      params: { artist: artist.slug },
      props: { myArtist: artist },
    };
  });
}

import Mainlayout from "../../layout/Mainlayout.astro";
import Singleviewimage from "../../components/Singleviewimage.astro";
import About from "../../components/About.astro";
import Musicbox from "../../components/Musicbox.astro";
import MusikboxTwo from "../../components/MusikboxTwo.astro";
import MusikboxThree from "../../components/MusikboxThree.astro";

const { myArtist } = Astro.props;
console.log(myArtist);
---

<Mainlayout>
  <div class="grid1_1">
    <div class="image-section">
      <Singleviewimage
        ArtistImage={myArtist.ArtistImage}
        ArtistName={myArtist.ArtistName}
      />
    </div>

    <div class="text-section">
      <About Day={myArtist.Day} AboutText={myArtist.AboutText} />
      <div class="Musikbar">
        <Musicbox songOne={myArtist.songOne} />
        <MusikboxTwo songTwo={myArtist.songTwo} />
        <MusikboxThree songThree={myArtist.songThree} />
      </div>
    </div>
  </div>
</Mainlayout>

<style>
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .text-section {
    grid-column: 2;
    margin-top: 10vh;
  }

  .Musikbar {
    margin-top: 30vh;
  }

  h3 {
    gap: 40px;
  }

  @media (max-width: 768px) {
    .grid1_1 {
      background-color: aquamarine;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    .image-section {
      grid-column: 1/-1;
      grid-row: span 1;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Musikbar {
      margin-top: 20px;
      text-align: center; /* Centrerer teksten horisontalt */
    }

    .text-section {
      grid-column: 1/-1;
      grid-row: span 2;
      margin-top: 0px;
    }
  }
</style>
